.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
  background: rgb(161, 159, 159);
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 13px;
}

a {
  color: #a08fce;
}

body {
  background: repeating-radial-gradient(#e66465, #9198e5 10%);
  padding: 20px;
}

container {
  padding: 20px;
}
