.App {
  padding: 60px 0 100px;
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width: 200px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}
.App-footer {
  text-align: center;
  margin: 30px 0;
  font-size: 13px;
}

a {
  color: #9670f4;
}

body {
  background: #f9f8fe;
}
